html {
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.is-hidden {
  display: none !important;
}