.titlebar {
  align-items: stretch;
  background-color: var(--titlebar-bg-color);
  color: var(--titlebar-fg-color);
  display: flex;
  flex-flow: row nowrap;
  padding: 0.8em 0.6em;
  position: sticky;
  top: 0;
}

.titlebar__path {
  flex: 1 1 auto;
}
.titlebar_btn {
  flex: 0 0 25px;
  cursor: pointer;
}
